body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: black;
    color: white;
    font-size: 18px;
    align-items: center;
    height: 80px;
}

.fa-circle-check {
    color: yellow;
}

.verification-info a {
    color: white;
    font-weight: 800;
}

.top-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px;
    background-color: #f9f9f9;
}

.contact-info {
    justify-content: space-between;
    width: 100%;
}

.fa-square-envelope {
    color: #2962ff;
}

.fa-phone-volume {
    color: black;
}

.top-navigation ul {
    list-style: none;
    display: flex;
    border-top: solid 0.8px;
    border-color: #d4caca;
}

.top-navigation li {
    margin: 40px 20px -65px 100px;
}

.top-navigation a {
    text-decoration: none;

}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info p {
    margin: 0;
    display: inline;
    margin-right: 20px;
}

.hero-section {
    background-image: url('images/familypic.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content h1 {
    font-size: 6rem;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.5rem;
    margin-top: 15px;
}

.cta-button {
    margin-left: 30%;
    margin-top: 15px;
    padding: 15px 30px;
    background-color: hsl(47, 95%, 50%);
    color: white;
    text-decoration: none;
}

.about-section {
    padding: 50px 20px;
}

.about-content {
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    background-color: whitesmoke;
    margin-bottom: 10%;
}

.about-content a {
    color: rgb(252, 252, 12);
    font-weight: bold;
}

.text-column h1 {
    font-size: 5em;
    font-weight: 800;
    margin: 10px 0;
}

.team-image {
    width: 90%;
    border-radius: 8px;
}

.image-column {
    width: 40%;

}

.boxes-image {
    width: 100%;
    border-radius: 8px;
}

.history {
    display: flex;
    gap: 10%;
    margin-top: 10%;
}

.history p {
    font-size: 1.6em;
    color: #777;
}

.year p {
    color: black;
    font-size: 3em;
    margin-top: 30%;
}

.year a {
    font-size: 1.5em;
}

.logo-container {
    border-top: solid 1px;
    border-color: rgb(211, 207, 207);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: whi;
}

.services-section {
    padding: 50px 20px;
    background-color: rgb(238, 230, 230);
    text-align: center;
    height: 1400px;
}

.services-grid {
    height: 600px;

}

.services-header {
    margin-top: 5%;
}

.services-header a {
    color: yellow;
    font-size: 1.2em;
}

.services-header h1 {
    font-size: 3.2em;
    size: 100px;
}

.fa-boxes-packing {
    color: yellow;

}

.fa-warehouse {
    color: white;

}

.fa-van-shuttle {
    color: yellow;
}

.services-grid {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.service-item {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: calc(25% - 20px);
    text-align: center;
}

.service-item.active {
    background-color: #2962ff;
}

.service-item.active p {
    color: white;
}

.service-item h3 {
    font-size: 2em;
    margin-top: 20%;
}

.service-item p {
    margin-top: 10%;
    font-size: 1em;
    color: #666;
}

.read-more {
    border-top: solid 1px;
    border-color: rgb(199, 193, 193);
    display: inline-block;
    margin-top: 50%;
    text-decoration: none;
    color: #f8c306;
}

.helping-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
    gap: 5%;
}

.help p {
    font-size: 20px;
}

.text-column h2 {
    font-size: 3.5em;
    font-weight: bold;
    color: black;
}

.video-column {
    width: 40%;
    position: relative;
}

.video-thumbnail {
    position: relative;
}

.video-thumbnail img {
    width: 100%;
    border-radius: 8px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8c306;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-decoration: none;
}

.combined-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;


}

.image-side img {
    margin-top: 18%;
    width: 120%;
    vertical-align: middle;
    position: relative;
    margin-left: 18%;
}

.text-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-left: 9%;
    margin-top: -35%;

}

.text-overlay h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.text-overlay a {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.3em;

    color: yellow;
    border-radius: 5px;
}

.content-side {
    margin-right: 8%;
    width: 45%;
    margin-top: aut0%;
}

.content-side a {
    color: yellow;
    font-weight: bold;
    font-size: 20px;

}

.content-side h2 {
    font-size: 4em;
    margin-top: 5%;
}

.content-side p {
    font-size: 1.4em;
    color: #666;
    margin-bottom: 20px;
}

.content-side li {
    font-size: 1.6em;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: solid 0.5px;
    border-color: white;
    background-color: rgb(233, 221, 221);
}

.content-side li i {
    color: #f8c306;
    margin-right: 10px;
}

.contact-us {
    margin-bottom: 5%;
}

.contact-us p {
    margin-left: 25%;
    font-size: 1.4em;
    color: rgb(107, 103, 103);
}

.contact-us a {
    color: yellow;
    font-weight: bold;
    font-size: 1.1em;
}

.combined-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.video-thumbnail-icon {
    position: relative;
}

.video-thumbnail-icon img {
    width: 100%;
    border-radius: 8px;
}

.play-button-icon {
    position: absolute;
    left: 50%;
    margin-top: 25%;
    background-color: rgba(255, 204, 0, 0.918);
    color: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.video-img {
    background-image: url(images/couple.png);
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
}

.book {
    display: flex;
}

.request {
    background-color: #f8c306;
    padding-left: 350px;
    padding-top: 100px;
    color: white;
}

.request a {
    color: white;
    font-weight: bold;
    margin-left: -60%;
    font-size: 1.45em;
}

.request h1 {
    font-size: 50px;
    margin-left: -60%;
}

.input-form {
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    gap: 20%;
}

.form {
    width: 500%;
    height: 400px;
    background-color: #529fdf;

}

.input input {
    width: 200%;
    height: 25%;
    margin-left: 10%;
    margin-top: 10%;

}

.book button {
    width: 150px;
    height: 55px;
    margin-top: 20px;
    font-weight: bolder;
    background-color: #f8c306;
    color: white;
    border: none;
    margin-left: 10%;
}

.form label {
    color: white;
    font-weight: bolder;
    margin-left: 10%;

}

.book sup {
    color: red;
}

.testimonials-container {
    background-color: rgb(238, 230, 230);
    max-width: 1800px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    height: 850px;
}

.testimonials-container a {
    color: yellow;
    font-weight: bold;
}

.testimonials-container h3 {
    font-size: 3em;
    margin-bottom: 20px;
}

.testimonials-grid {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 400px;
}

.testimonial {
    width: 350px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-icon {
    font-size: 30px;
    color: #2962ff;
    margin-bottom: 10px;
}

.testimonial p {
    font-style: normal;
    color: #666;
    margin-bottom: -10px;
    font-size: 1.1em;
}

.customer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.customer-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: -35%;
    margin-right: 20%;
    object-fit: cover;
}

.customer-details h4 {
    color: yellow;
    font-size: 1.5em;
}

.customer-details span {
    color: #777;
}


.newsletter-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 7%;
    text-align: center;
}

.newsletter-container a {
    color: yellow;
    font-size: 1.2em;
    font-weight: bold;
}

.newsletter-container h2 {
    font-size: 3em;
}

#newsletterForm {
    margin-top: 13%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#newsletterForm input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 130%;

}

button[type="submit"] {
    background-color: #f8c306;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
}

.news-articles-container {
    border-top: solid 0.5px;
    border-color: rgb(202, 191, 191);
    max-width: 1500px;
    height: 750px;
    padding: 50px 20px;
    text-align: center;
    margin-left: 10%;
}

.news-articles-container a {
    color: yellow;
    font-size: 1.3em;
    font-weight: bold;
}

.news-articles-container h2 {
    font-size: 3em;
}

.news-grid {
    display: flex;
    justify-content: space-around;

}

.news-item {
    width: 350px;
    height: 600px;
    background-color: #f9f9f9;
    overflow: hidden;

}

.news-header {
    margin-top: 12%;
    font-size: 1.2em;
    position: absolute;
    margin-left: 2%;
    color: rgb(223, 213, 213);
}

.news-item a {
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    background-color: #f8c306;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.news-item h3 {
    margin-top: -33%;
    margin-left: -40%;
    color: white;
    size: 1.5em;

}

.stats-content {
    background-color: #f8c306;
    color: black;
    padding: 50px 20px;
    text-align: center;
    display: flex;

}

.stats-content h2 {
    font-size: 2em;
    margin-left: 10%;
}

#discover-buttom {
    width: 15%;
    background-color: black;
    color: white;
    height: 65px;
    margin-left: 20%;
    margin-top: 1%;
}

.footer {
    background-color: #333;
    color: white;
}

.footer-container {
    padding-top: 3%;
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    height: 400px;
}

.footer-container p {
    color: gray;
}

.footer-bottom {
    text-align: center;
    padding-top: 80px;
    border-top: 1px solid rgba(80, 78, 78, 0.702);
}

.footer-bottom p {
    color: rgb(194, 192, 192);
    font-size: 1.4em;
    padding-bottom: 60px;
}

.fa-twitter {
    color: yellow;
}

.fa-facebook-f {
    color: white;
}

.fa-linkedin-in {
    color: white;
}

.fa-youtube {
    color: white;
}